/* Generated Design Tokens CSS Variables */
:root {
  /* Primitive/Reference Color Tokens */
  --primitive-color-palettes-accent-accent0: #000000ff;
  --primitive-color-palettes-accent-accent100: #ffffffff;
  --primitive-color-palettes-accent-accent10: #2e0519ff;
  --primitive-color-palettes-accent-accent20: #5c0a32ff;
  --primitive-color-palettes-accent-accent30: #8b0e4cff;
  --primitive-color-palettes-accent-accent40: #b91365ff;
  --primitive-color-palettes-accent-accent50: #e7187eff;
  --primitive-color-palettes-accent-accent60: #ec4899ff;
  --primitive-color-palettes-accent-accent70: #f174b2ff;
  --primitive-color-palettes-accent-accent80: #f5a3cbff;
  --primitive-color-palettes-accent-accent90: #fad1e5ff;
  --primitive-color-palettes-accent-accent95: #fde8f2ff;
  --primitive-color-palettes-accent-accent98: #fef6faff;
  --primitive-color-palettes-accent-accent99: #fffafcff;
  --primitive-color-palettes-error-error0: #000000ff;
  --primitive-color-palettes-error-error100: #ffffffff;
  --primitive-color-palettes-error-error10: #170000ff;
  --primitive-color-palettes-error-error20: #2e0101ff;
  --primitive-color-palettes-error-error30: #300e0eff;
  --primitive-color-palettes-error-error40: #601b1bff;
  --primitive-color-palettes-error-error50: #8f2929ff;
  --primitive-color-palettes-error-error60: #bf3636ff;
  --primitive-color-palettes-error-error70: #ef4444ff;
  --primitive-color-palettes-error-error80: #f7a1a1ff;
  --primitive-color-palettes-error-error90: #fbd0d0ff;
  --primitive-color-palettes-error-error95: #fde7e7ff;
  --primitive-color-palettes-error-error98: #fef6f6ff;
  --primitive-color-palettes-error-error99: #fffafaff;
  --primitive-color-palettes-neutral-neutral0: #000000ff;
  --primitive-color-palettes-neutral-neutral100: #ffffffff;
  --primitive-color-palettes-neutral-neutral10: #18181bff;
  --primitive-color-palettes-neutral-neutral20: #313135ff;
  --primitive-color-palettes-neutral-neutral30: #48484fff;
  --primitive-color-palettes-neutral-neutral40: #62626aff;
  --primitive-color-palettes-neutral-neutral50: #7a7a85ff;
  --primitive-color-palettes-neutral-neutral60: #95959dff;
  --primitive-color-palettes-neutral-neutral70: #afafb6ff;
  --primitive-color-palettes-neutral-neutral80: #cacaceff;
  --primitive-color-palettes-neutral-neutral90: #e4e4e7ff;
  --primitive-color-palettes-neutral-neutral92: #e9e9ecff;
  --primitive-color-palettes-neutral-neutral94: #efeff1ff;
  --primitive-color-palettes-neutral-neutral95: #f2f2f3ff;
  --primitive-color-palettes-neutral-neutral96: #f4f4f5ff;
  --primitive-color-palettes-neutral-neutral98: #fafafaff;
  --primitive-color-palettes-neutral-neutral99: #fcfcfdff;
  --primitive-color-palettes-neutral-variant-neutral-variant0: #000000ff;
  --primitive-color-palettes-neutral-variant-neutral-variant100: #ffffffff;
  --primitive-color-palettes-neutral-variant-neutral-variant10: #18181bff;
  --primitive-color-palettes-neutral-variant-neutral-variant20: #313135ff;
  --primitive-color-palettes-neutral-variant-neutral-variant30: #48484fff;
  --primitive-color-palettes-neutral-variant-neutral-variant40: #62626aff;
  --primitive-color-palettes-neutral-variant-neutral-variant50: #7a7a85ff;
  --primitive-color-palettes-neutral-variant-neutral-variant60: #95959dff;
  --primitive-color-palettes-neutral-variant-neutral-variant70: #afafb6ff;
  --primitive-color-palettes-neutral-variant-neutral-variant80: #cacaceff;
  --primitive-color-palettes-neutral-variant-neutral-variant90: #e4e4e7ff;
  --primitive-color-palettes-neutral-variant-neutral-variant95: #f2f2f3ff;
  --primitive-color-palettes-neutral-variant-neutral-variant98: #fafafaff;
  --primitive-color-palettes-neutral-variant-neutral-variant99: #fcfcfdff;
  --primitive-color-palettes-primary-primary0: #000000ff;
  --primitive-color-palettes-primary-primary100: #ffffffff;
  --primitive-color-palettes-primary-primary10: #08062dff;
  --primitive-color-palettes-primary-primary20: #110d59ff;
  --primitive-color-palettes-primary-primary30: #191386ff;
  --primitive-color-palettes-primary-primary40: #2219b3ff;
  --primitive-color-palettes-primary-primary50: #2a1fe0ff;
  --primitive-color-palettes-primary-primary60: #4f46e5ff;
  --primitive-color-palettes-primary-primary70: #7f79ecff;
  --primitive-color-palettes-primary-primary80: #aaa6f2ff;
  --primitive-color-palettes-primary-primary90: #d4d2f9ff;
  --primitive-color-palettes-primary-primary95: #eae9fcff;
  --primitive-color-palettes-primary-primary98: #f6f6feff;
  --primitive-color-palettes-primary-primary99: #fbfbfeff;
  --primitive-color-palettes-secondary-secondary-98: #f8f5feff;
  --primitive-color-palettes-secondary-secondary0: #000000ff;
  --primitive-color-palettes-secondary-secondary100: #ffffffff;
  --primitive-color-palettes-secondary-secondary10: #110330ff;
  --primitive-color-palettes-secondary-secondary20: #210561ff;
  --primitive-color-palettes-secondary-secondary30: #320891ff;
  --primitive-color-palettes-secondary-secondary40: #420bc1ff;
  --primitive-color-palettes-secondary-secondary50: #530df2ff;
  --primitive-color-palettes-secondary-secondary60: #753ef4ff;
  --primitive-color-palettes-secondary-secondary70: #8b5cf6ff;
  --primitive-color-palettes-secondary-secondary80: #ba9efaff;
  --primitive-color-palettes-secondary-secondary90: #ddcffcff;
  --primitive-color-palettes-secondary-secondary95: #eee7feff;
  --primitive-color-palettes-secondary-secondary99: #fcfaffff;
  --primitive-color-palettes-success-success0: #000000ff;
  --primitive-color-palettes-success-success100: #ffffffff;
  --primitive-color-palettes-success-success10: #013222ff;
  --primitive-color-palettes-success-success20: #026444ff;
  --primitive-color-palettes-success-success30: #0c8d62ff;
  --primitive-color-palettes-success-success40: #10bc83ff;
  --primitive-color-palettes-success-success50: #14eba4ff;
  --primitive-color-palettes-success-success60: #43efb6ff;
  --primitive-color-palettes-success-success70: #72f3c8ff;
  --primitive-color-palettes-success-success80: #a1f7daff;
  --primitive-color-palettes-success-success90: #d0fbedff;
  --primitive-color-palettes-success-success95: #e8fdf6ff;
  --primitive-color-palettes-success-success98: #f6fefbff;
  --primitive-color-palettes-success-success99: #fafffdff;
  --primitive-color-palettes-tertiary-tertiary0: #000000ff;
  --primitive-color-palettes-tertiary-tertiary100: #ffffffff;
  --primitive-color-palettes-tertiary-tertiary10: #012b32ff;
  --primitive-color-palettes-tertiary-tertiary20: #035563ff;
  --primitive-color-palettes-tertiary-tertiary30: #048095ff;
  --primitive-color-palettes-tertiary-tertiary40: #06b6d4ff;
  --primitive-color-palettes-tertiary-tertiary50: #07d5f8ff;
  --primitive-color-palettes-tertiary-tertiary60: #39ddf9ff;
  --primitive-color-palettes-tertiary-tertiary70: #6ae6fbff;
  --primitive-color-palettes-tertiary-tertiary80: #9ceefcff;
  --primitive-color-palettes-tertiary-tertiary90: #cdf7feff;
  --primitive-color-palettes-tertiary-tertiary95: #e6fbfeff;
  --primitive-color-palettes-tertiary-tertiary98: #f5fdffff;
  --primitive-color-palettes-tertiary-tertiary99: #fafeffff;
  --primitive-key-group-colors-accent-key-color: #ec4899ff;
  --primitive-key-group-colors-error-key-color: #ef4444ff;
  --primitive-key-group-colors-neutral-key-color: #48484fff;
  --primitive-key-group-colors-neutral-variant-key-color: #95989bff;
  --primitive-key-group-colors-primary-key-color: #4f46e5ff;
  --primitive-key-group-colors-secondary-key-color: #8b5cf6ff;
  --primitive-key-group-colors-success-key-color: #10b981ff;
  --primitive-key-group-colors-tertiary-key-color: #06b6d4ff;

  /* System/Semantic Tokens */
  --sys-color-accent-container: var(--primitive-color-palettes-accent-accent90);
  --sys-color-accent: var(--primitive-color-palettes-accent-accent50);
  --sys-color-background: var(--primitive-color-palettes-neutral-neutral98);
  --sys-color-error-container: var(--primitive-color-palettes-error-error90);
  --sys-color-error: var(--primitive-color-palettes-error-error70);
  --sys-color-inverse-on-surface: var(--primitive-color-palettes-neutral-neutral95);
  --sys-color-inverse-primary: var(--primitive-color-palettes-primary-primary80);
  --sys-color-inverse-surface: var(--primitive-color-palettes-neutral-neutral20);
  --sys-color-on-accent-container: var(--primitive-color-palettes-accent-accent40);
  --sys-color-on-accent: var(--primitive-color-palettes-accent-accent100);
  --sys-color-on-background: var(--primitive-color-palettes-neutral-neutral10);
  --sys-color-on-error-container: var(--primitive-color-palettes-error-error40);
  --sys-color-on-error: var(--primitive-color-palettes-error-error100);
  --sys-color-on-primary-container: var(--primitive-color-palettes-primary-primary30);
  --sys-color-on-primary-fixed-variant: var(--primitive-color-palettes-primary-primary30);
  --sys-color-on-primary-fixed: var(--primitive-color-palettes-primary-primary20);
  --sys-color-on-primary: var(--primitive-color-palettes-primary-primary100);
  --sys-color-on-secondary-container: var(--primitive-color-palettes-secondary-secondary30);
  --sys-color-on-secondary-fixed-variant: var(--primitive-color-palettes-secondary-secondary40);
  --sys-color-on-secondary-fixed: var(--primitive-color-palettes-secondary-secondary20);
  --sys-color-on-secondary: var(--primitive-color-palettes-secondary-secondary100);
  --sys-color-on-success-container: var(--primitive-color-palettes-success-success30);
  --sys-color-on-success: var(--primitive-color-palettes-success-success100);
  --sys-color-on-surface-variant: var(--primitive-color-palettes-neutral-variant-neutral-variant30);
  --sys-color-on-surface: var(--primitive-color-palettes-neutral-neutral10);
  --sys-color-on-tertiary-container: var(--primitive-color-palettes-tertiary-tertiary30);
  --sys-color-on-tertiary-fixed-variant: var(--primitive-color-palettes-tertiary-tertiary30);
  --sys-color-on-tertiary-fixed: var(--primitive-color-palettes-tertiary-tertiary20);
  --sys-color-on-tertiary: var(--primitive-color-palettes-tertiary-tertiary100);
  --sys-color-outline-variant: var(--primitive-color-palettes-neutral-variant-neutral-variant80);
  --sys-color-outline: var(--primitive-color-palettes-neutral-variant-neutral-variant50);
  --sys-color-primary-container: var(--primitive-color-palettes-primary-primary90);
  --sys-color-primary-fixed-dim: var(--primitive-color-palettes-primary-primary80);
  --sys-color-primary-fixed: var(--primitive-color-palettes-primary-primary90);
  --sys-color-primary: var(--primitive-color-palettes-primary-primary60);
  --sys-color-scrim: var(--primitive-color-palettes-neutral-neutral0);
  --sys-color-secondary-container: var(--primitive-color-palettes-secondary-secondary90);
  --sys-color-secondary-fixed-dim: var(--primitive-color-palettes-secondary-secondary80);
  --sys-color-secondary-fixed: var(--primitive-color-palettes-secondary-secondary90);
  --sys-color-secondary: var(--primitive-color-palettes-secondary-secondary40);
  --sys-color-shadow: var(--primitive-color-palettes-neutral-neutral0);
  --sys-color-success-container: var(--primitive-color-palettes-success-success90);
  --sys-color-success: var(--primitive-color-palettes-success-success40);
  --sys-color-surface-bright: var(--primitive-color-palettes-neutral-neutral98);
  --sys-color-surface-container-high: var(--primitive-color-palettes-neutral-neutral92);
  --sys-color-surface-container-highest: var(--primitive-color-palettes-neutral-neutral90);
  --sys-color-surface-container-low: var(--primitive-color-palettes-neutral-neutral96);
  --sys-color-surface-container-lowest: var(--primitive-color-palettes-neutral-neutral100);
  --sys-color-surface-container: var(--primitive-color-palettes-neutral-neutral94);
  --sys-color-surface-dim: var(--primitive-color-palettes-neutral-neutral90);
  --sys-color-surface-tint: var(--primitive-color-palettes-primary-primary40);
  --sys-color-surface-variant: var(--primitive-color-palettes-neutral-variant-neutral-variant90);
  --sys-color-surface: var(--primitive-color-palettes-neutral-neutral98);
  --sys-color-tertiary-container: var(--primitive-color-palettes-tertiary-tertiary90);
  --sys-color-tertiary-fixed-dim: var(--primitive-color-palettes-tertiary-tertiary80);
  --sys-color-tertiary-fixed: var(--primitive-color-palettes-tertiary-tertiary90);
  --sys-color-tertiary: var(--primitive-color-palettes-tertiary-tertiary40);
  --sys-effect-shadow-1: 0 1px 3px 0 #00000014; /* Cards Inputs Flashcards */
  --sys-effect-shadow-2: 0 4px 8px 0 #0000001f; /* Hover states Interactive cards */
  --sys-effect-shadow-3: 0 12px 24px 0 #00000029; /* Modals Dialogs Popups */
  --sys-font-body-body-large: normal 500 16px/24px Outfit;
  --sys-font-body-body-medium: normal 500 14px/20px Outfit;
  --sys-font-body-body-small: normal 400 12px/18px Outfit;
  --sys-font-display-display-large: normal 600 57px/64px Outfit;
  --sys-font-display-display-medium: normal 500 45px/52px Outfit;
  --sys-font-display-display-small: normal 500 36px/44px Outfit;
  --sys-font-headline-headline-large: normal 600 32px/40px Outfit;
  --sys-font-headline-headline-medium: normal 600 28px/36px Outfit;
  --sys-font-headline-headline-small: normal 500 24px/32px Outfit;
  --sys-font-label-label-large: normal 600 14px/20px Outfit;
  --sys-font-label-label-medium: normal 500 12px/16px Outfit;
  --sys-font-label-label-small: normal 500 12px/16px Outfit;
  --sys-font-title-title-large: normal 600 22px/28px Outfit;
  --sys-font-title-title-medium: normal 600 16px/24px Outfit;
  --sys-font-title-title-small: normal 500 14px/20px Outfit;
  --sys-radius-radius-full: 9999px;
  --sys-radius-radius-lg: 16px;
  --sys-radius-radius-md: 12px;
  --sys-radius-radius-none: 0;
  --sys-radius-radius-sm: 8px;
  --sys-radius-radius-xl: 24px;
  --sys-radius-radius-xs: 4px;
  --sys-spacing-space-0: 0;
  --sys-spacing-space-10: 80px;
  --sys-spacing-space-11: 96px;
  --sys-spacing-space-1: 4px;
  --sys-spacing-space-2: 8px;
  --sys-spacing-space-3: 12px;
  --sys-spacing-space-4: 16px;
  --sys-spacing-space-5: 24px;
  --sys-spacing-space-6: 32px;
  --sys-spacing-space-7: 40px;
  --sys-spacing-space-8: 48px;
  --sys-spacing-space-9: 64px;
  --sys-typography-body-body-large-font-family: Outfit;
  --sys-typography-body-body-large-font-size: 16px;
  --sys-typography-body-body-large-font-stretch: normal;
  --sys-typography-body-body-large-font-style: normal;
  --sys-typography-body-body-large-font-weight: 500;
  --sys-typography-body-body-large-letter-spacing: -1px;
  --sys-typography-body-body-large-line-height: 24px;
  --sys-typography-body-body-large-paragraph-indent: 0;
  --sys-typography-body-body-large-paragraph-spacing: 0;
  --sys-typography-body-body-large-text-case: none;
  --sys-typography-body-body-large-text-decoration: none;
  --sys-typography-body-body-medium-font-family: Outfit;
  --sys-typography-body-body-medium-font-size: 14px;
  --sys-typography-body-body-medium-font-stretch: normal;
  --sys-typography-body-body-medium-font-style: normal;
  --sys-typography-body-body-medium-font-weight: 500;
  --sys-typography-body-body-medium-letter-spacing: -0.95px;
  --sys-typography-body-body-medium-line-height: 20px;
  --sys-typography-body-body-medium-paragraph-indent: 0;
  --sys-typography-body-body-medium-paragraph-spacing: 0;
  --sys-typography-body-body-medium-text-case: none;
  --sys-typography-body-body-medium-text-decoration: none;
  --sys-typography-body-body-small-font-family: Outfit;
  --sys-typography-body-body-small-font-size: 12px;
  --sys-typography-body-body-small-font-stretch: normal;
  --sys-typography-body-body-small-font-style: normal;
  --sys-typography-body-body-small-font-weight: 400;
  --sys-typography-body-body-small-letter-spacing: -0.85px;
  --sys-typography-body-body-small-line-height: 18px;
  --sys-typography-body-body-small-paragraph-indent: 0;
  --sys-typography-body-body-small-paragraph-spacing: 0;
  --sys-typography-body-body-small-text-case: none;
  --sys-typography-body-body-small-text-decoration: none;
  --sys-typography-display-display-large-font-family: Outfit;
  --sys-typography-display-display-large-font-size: 57px;
  --sys-typography-display-display-large-font-stretch: normal;
  --sys-typography-display-display-large-font-style: normal;
  --sys-typography-display-display-large-font-weight: 600;
  --sys-typography-display-display-large-letter-spacing: -4px;
  --sys-typography-display-display-large-line-height: 64px;
  --sys-typography-display-display-large-paragraph-indent: 0;
  --sys-typography-display-display-large-paragraph-spacing: 0;
  --sys-typography-display-display-large-text-case: none;
  --sys-typography-display-display-large-text-decoration: none;
  --sys-typography-display-display-medium-font-family: Outfit;
  --sys-typography-display-display-medium-font-size: 45px;
  --sys-typography-display-display-medium-font-stretch: normal;
  --sys-typography-display-display-medium-font-style: normal;
  --sys-typography-display-display-medium-font-weight: 500;
  --sys-typography-display-display-medium-letter-spacing: -1px;
  --sys-typography-display-display-medium-line-height: 52px;
  --sys-typography-display-display-medium-paragraph-indent: 0;
  --sys-typography-display-display-medium-paragraph-spacing: 0;
  --sys-typography-display-display-medium-text-case: none;
  --sys-typography-display-display-medium-text-decoration: none;
  --sys-typography-display-display-small-font-family: Outfit;
  --sys-typography-display-display-small-font-size: 36px;
  --sys-typography-display-display-small-font-stretch: normal;
  --sys-typography-display-display-small-font-style: normal;
  --sys-typography-display-display-small-font-weight: 500;
  --sys-typography-display-display-small-letter-spacing: -2px;
  --sys-typography-display-display-small-line-height: 44px;
  --sys-typography-display-display-small-paragraph-indent: 0;
  --sys-typography-display-display-small-paragraph-spacing: 0;
  --sys-typography-display-display-small-text-case: none;
  --sys-typography-display-display-small-text-decoration: none;
  --sys-typography-headline-headline-large-font-family: Outfit;
  --sys-typography-headline-headline-large-font-size: 32px;
  --sys-typography-headline-headline-large-font-stretch: normal;
  --sys-typography-headline-headline-large-font-style: normal;
  --sys-typography-headline-headline-large-font-weight: 600;
  --sys-typography-headline-headline-large-letter-spacing: -1.5px;
  --sys-typography-headline-headline-large-line-height: 40px;
  --sys-typography-headline-headline-large-paragraph-indent: 0;
  --sys-typography-headline-headline-large-paragraph-spacing: 0;
  --sys-typography-headline-headline-large-text-case: none;
  --sys-typography-headline-headline-large-text-decoration: none;
  --sys-typography-headline-headline-medium-font-family: Outfit;
  --sys-typography-headline-headline-medium-font-size: 28px;
  --sys-typography-headline-headline-medium-font-stretch: normal;
  --sys-typography-headline-headline-medium-font-style: normal;
  --sys-typography-headline-headline-medium-font-weight: 600;
  --sys-typography-headline-headline-medium-letter-spacing: -1.2px;
  --sys-typography-headline-headline-medium-line-height: 36px;
  --sys-typography-headline-headline-medium-paragraph-indent: 0;
  --sys-typography-headline-headline-medium-paragraph-spacing: 0;
  --sys-typography-headline-headline-medium-text-case: none;
  --sys-typography-headline-headline-medium-text-decoration: none;
  --sys-typography-headline-headline-small-font-family: Outfit;
  --sys-typography-headline-headline-small-font-size: 24px;
  --sys-typography-headline-headline-small-font-stretch: normal;
  --sys-typography-headline-headline-small-font-style: normal;
  --sys-typography-headline-headline-small-font-weight: 500;
  --sys-typography-headline-headline-small-letter-spacing: -1px;
  --sys-typography-headline-headline-small-line-height: 32px;
  --sys-typography-headline-headline-small-paragraph-indent: 0;
  --sys-typography-headline-headline-small-paragraph-spacing: 0;
  --sys-typography-headline-headline-small-text-case: none;
  --sys-typography-headline-headline-small-text-decoration: none;
  --sys-typography-label-label-large-font-family: Outfit;
  --sys-typography-label-label-large-font-size: 14px;
  --sys-typography-label-label-large-font-stretch: normal;
  --sys-typography-label-label-large-font-style: normal;
  --sys-typography-label-label-large-font-weight: 600;
  --sys-typography-label-label-large-letter-spacing: -0.85px;
  --sys-typography-label-label-large-line-height: 20px;
  --sys-typography-label-label-large-paragraph-indent: 0;
  --sys-typography-label-label-large-paragraph-spacing: 0;
  --sys-typography-label-label-large-text-case: none;
  --sys-typography-label-label-large-text-decoration: none;
  --sys-typography-label-label-medium-font-family: Outfit;
  --sys-typography-label-label-medium-font-size: 12px;
  --sys-typography-label-label-medium-font-stretch: normal;
  --sys-typography-label-label-medium-font-style: normal;
  --sys-typography-label-label-medium-font-weight: 500;
  --sys-typography-label-label-medium-letter-spacing: -0.5px;
  --sys-typography-label-label-medium-line-height: 16px;
  --sys-typography-label-label-medium-paragraph-indent: 0;
  --sys-typography-label-label-medium-paragraph-spacing: 0;
  --sys-typography-label-label-medium-text-case: none;
  --sys-typography-label-label-medium-text-decoration: none;
  --sys-typography-label-label-small-font-family: Outfit;
  --sys-typography-label-label-small-font-size: 12px;
  --sys-typography-label-label-small-font-stretch: normal;
  --sys-typography-label-label-small-font-style: normal;
  --sys-typography-label-label-small-font-weight: 500;
  --sys-typography-label-label-small-letter-spacing: -0.5px;
  --sys-typography-label-label-small-line-height: 16px;
  --sys-typography-label-label-small-paragraph-indent: 0;
  --sys-typography-label-label-small-paragraph-spacing: 0;
  --sys-typography-label-label-small-text-case: none;
  --sys-typography-label-label-small-text-decoration: none;
  --sys-typography-title-title-large-font-family: Outfit;
  --sys-typography-title-title-large-font-size: 22px;
  --sys-typography-title-title-large-font-stretch: normal;
  --sys-typography-title-title-large-font-style: normal;
  --sys-typography-title-title-large-font-weight: 600;
  --sys-typography-title-title-large-letter-spacing: -0.8px;
  --sys-typography-title-title-large-line-height: 28px;
  --sys-typography-title-title-large-paragraph-indent: 0;
  --sys-typography-title-title-large-paragraph-spacing: 0;
  --sys-typography-title-title-large-text-case: none;
  --sys-typography-title-title-large-text-decoration: none;
  --sys-typography-title-title-medium-font-family: Outfit;
  --sys-typography-title-title-medium-font-size: 16px;
  --sys-typography-title-title-medium-font-stretch: normal;
  --sys-typography-title-title-medium-font-style: normal;
  --sys-typography-title-title-medium-font-weight: 600;
  --sys-typography-title-title-medium-letter-spacing: -0.5px;
  --sys-typography-title-title-medium-line-height: 24px;
  --sys-typography-title-title-medium-paragraph-indent: 0;
  --sys-typography-title-title-medium-paragraph-spacing: 0;
  --sys-typography-title-title-medium-text-case: none;
  --sys-typography-title-title-medium-text-decoration: none;
  --sys-typography-title-title-small-font-family: Outfit;
  --sys-typography-title-title-small-font-size: 14px;
  --sys-typography-title-title-small-font-stretch: normal;
  --sys-typography-title-title-small-font-style: normal;
  --sys-typography-title-title-small-font-weight: 500;
  --sys-typography-title-title-small-letter-spacing: -0.5px;
  --sys-typography-title-title-small-line-height: 20px;
  --sys-typography-title-title-small-paragraph-indent: 0;
  --sys-typography-title-title-small-paragraph-spacing: 0;
  --sys-typography-title-title-small-text-case: none;
  --sys-typography-title-title-small-text-decoration: none;
}
